HF_HOME=/app/model
SENTENCE_TRANSFORMERS_HOME=/app/model
NLI_MODEL_DIR=/app/model/models--MoritzLaurer--mDeBERTa-v3-base-xnli-multilingual-nli-2mil7
NLI2_MODEL_DIR=/app/model/models--joeddav--xlm-roberta-large-xnli

